version: '3.9'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile.prod
    container_name: django_app_prod
    restart: always
    command: >
      sh -c "
      gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3 --threads 2 --timeout 120
      "
    env_file:
      - .env.prod
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - db
  db:
    image: postgres:16
    container_name: postgres_db_prod
    restart: always
    env_file:
      - .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "admin_prod", "-d", "Glyse_prod", "-p", "5432"]
      interval: 5s
      timeout: 5s
      retries: 5
  nginx:
    image: nginx:1.24
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume: