version: '3.9'

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile.dev
    container_name: django_app_dev
    restart: always
    command: >
      sh -c "
      python manage.py runserver 0.0.0.0:8000
      "
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:16
    container_name: postgres_db_dev
    restart: always
    env_file:
      - .env.dev
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "user_dev", "-d", "Glyse_dev", "-p", "5432"]
      interval: 5s
      timeout: 30s
      retries: 5

volumes:
  postgres_data: